BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
BinPackParameters: false
BinPackArguments: false
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
ReflowComments: false
SortIncludes: false
