[submodule "steering/micro-libs"]
    path = Core/Lib/micro-libs
    url = git@github.com:eagletrt/micro-libs.git
[submodule "steering/can"]
    path = Core/Lib/can
    url = git@github.com:eagletrt/can.git
    branch = build-evo
[submodule "Core/Lib/invlib"]
    path = Core/Lib/invlib
    url = git@github.com:eagletrt/invlib.git
[submodule "Core/Lib/sw-libgraphics"]
	path = Core/Lib/sw-libgraphics
	url = git@github.com:Bridiro/sw-libgraphics.git
