[submodule "lvgl"]
	path = lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "steering/simulator"]
	path = steering/simulator
	url = git@github.com:eagletrt/sw-fenice-evo-steering-wheel-simulator.git
[submodule "steering/micro-libs"]
	path = steering/micro-libs
	url = git@github.com:eagletrt/micro-libs.git
[submodule "steering/can"]
	path = steering/can
	url = git@github.com:eagletrt/can.git
	branch = build-evo
